@page "/analyzefiles"
@rendermode InteractiveServer
@using System.Text
@using System.IO;
@using OneCore.DTOs;
@using OneCore.Repositories;
@using OneCore.Entities;
@using OneCore.CommonFunctions;
@using OneCore.Components.Shared
@inject BillRepository billRepository;
@inject DocumentRepository documentRepository;
@inject CustomLoggerRepository customLoggerRepository;

@inject StateContainer StateContainer

<PageTitle>Carga y análisis de archivos - OneCore</PageTitle>

@if (Toggle)
{
<!--Page for logged user-->
<div class="container">
    
    <div class="card mb-3">
            <div class="card-header">
                <h1>
                    <i class="fas fa-file"></i>
                    Carga y análisis de archivos
                </h1>
            </div>
        <div class="card-body">
                <!--Alerts-->
                <div class="alert alert-info mb-3" role="alert">
                    <i class="fas fa-info"></i>
                    Para analizar archivos, dejo de ejemplo una
                    <a class="btn btn-link" 
                        download 
                        href="Downloads/FilesToAnalyze/Textract-Example-Bill.pdf">
                        factura
                        <i class="fas fa-download"></i>
                    </a> y un
                    <a class="btn btn-link" 
                        download 
                        href="Downloads/FilesToAnalyze/Textract-Example-Document.pdf">
                        documento
                        <i class="fas fa-download"></i>
                    </a>
                    para que puedas descargar y probar. Para ayudar al análisis 
                    por parte de AWS Textract, se detecta que el archivo es 
                    una factura si lee las palabras "i.v.a" o "iva", tanto en 
                    mayúsculas como en minúsculas.
                </div>
                <div class="alert alert-warning mb-5" role="alert">
                    <i class="fas fa-exclamation"></i>
                    Recuerda que los archivos deben estar en formato <b>PDF</b>,
                    <b>PNG</b> o <b>JPG</b>, y deben pesar menos de <b>3MB</b>.
                </div>

                <!--Archivo a cargar-->
                <label for="myfile" class="form-label">
                    <i class="fas fa-upload"></i> Selecciona un archivo
                </label>
                <InputFile OnChange="@UploadFile"
                           class="form-control form-control-lg mb-1"
                           id="myfile" name="myfile" />
                <span class="text-danger">@((MarkupString)ErrorMessage)</span>
                <br />


                @{
                    var progressCss = "progress" + (DisplayProgress ? "" : "d-none");
                    var progressWidthStyle = ProgressPercent + "%";
                }

                <!-- Progress bar -->
                <p>@ProgressText</p>
                <div class="@progressCss">
                    <div class="progress-bar progress-bar-striped progress-bar-animated @ProgressBarColour"
                         role="progressbar" style="width:@progressWidthStyle"
                         area-valuenow="@ProgressPercent" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
                <br />

                @if (ButtonText != "")
                {
                    <button type="button" class="btn btn-success"
                            data-bs-toggle="modal"
                            data-bs-target="#OneCoreModal">
                        @ButtonText
                    </button>
                }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="OneCoreModal" tabindex="-1" 
aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" 
                id="exampleModalLabel">
                    @((MarkupString)ModalTitleToRender)
                </h1>
            </div>
            <div class="modal-body">
                @((MarkupString)ModalBodyToRender)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
}
else
{
    <!--Page for not logged user-->
    <OneCore.Components.Layout.NotLogged></OneCore.Components.Layout.NotLogged>
}


@code {
    public string ScannedText { get; set; } = "";
    public string ErrorMessage { get; set; } = "";
    public string ButtonText { get; set; } = "";
    public string ModalTitleToRender { get; set; } = "";
    public string ModalBodyToRender { get; set; } = "";
    public string TablesToRender { get; set; } = "";
    public bool Toggle { get; set; }

    //Progress bar
    public bool DisplayProgress { get; set; } = false;
    public int ProgressPercent { get; set; } = 0;
    public string ProgressText { get; set; } = "";
    public string ProgressBarColour { get; set; } = "bg-info";

    private User? User;

    protected override void OnInitialized()
    { 
        User = StateContainer.User;

        if (User != null)
        {
            if (User.UserId != 0)
            {
                //Logged user
                Toggle = true;
            }
            else
            {
                //Not logged user
                Toggle = false;
            }
        }
        else
        {
            //Impossible
            Toggle = false;
        }

        base.OnInitialized();
    }

    private void UploadFile(InputFileChangeEventArgs e)
    {
        //Basic configuration
        CommonFunctions CommonFunctions = new();

        if (e.File.Name.EndsWith(".pdf") 
        || e.File.Name.EndsWith(".png") 
        || e.File.Name.EndsWith(".jpg"))
        {
            if (e.File.Size <= CommonFunctions.MaxFileSize)
            {
                Main(e);
            }
            else
            {
                ErrorMessage = $@" <i class=""fas fa-exclamation""></i> 
                                Solo se permiten archivos con un peso 
                                máximo de 3MB";
            }
        }
        else
        {
            ErrorMessage = $@"<i class=""fas fa-exclamation""></i>
                            Solo se aceptan archivos PDF, PNG o JPG";
        }
    }

    private async void Main(InputFileChangeEventArgs e)
    {
        try
        {
            //Basic configuration
            ButtonText = "";
            ProgressBarColour = "bg-info";
            ErrorMessage = "";
            DisplayProgress = true;
            CommonFunctions CommonFunctions = new();
            AWSTextractFunctions AWSTextractFunctions = new();

            //Save file in local server
            ProgressText = "Subiendo archivo al servidor...";
            ProgressPercent = 80;

            await CommonFunctions.SaveFileInLocalServer(e);

            //Log info
            CustomLogger customLogger = new()
                {
                    DateTime = DateTime.Now,
                    InteractionType = $@"Interacción del usuario",
                    Description = $@"El usuario {User?.Email} ha subido el 
                                    archivo {e.File.Name} para analizar, 
                                    al servidor local",
                    UserId = User.UserId
                };
            await customLoggerRepository
                .Add(customLogger, CancellationToken.None);

            //Save file in AWS S3 storage
            ProgressText = "Subiendo archivo a AWS S3...";
            ProgressPercent = 81;
            AWSTextractFunctions.SaveFileInAWSS3(e.File.Name);

            //Log info
            CustomLogger customLogger2 = new()
                {
                    DateTime = DateTime.Now,
                    InteractionType = $@"Interacción del usuario",
                    Description = $@"El usuario {User.Email} ha subido el 
                                    archivo {e.File.Name} para analizar, 
                                    a AWS S3",
                    UserId = User.UserId
                };
            await customLoggerRepository
                .Add(customLogger2, CancellationToken.None);

            //Scan file located in AWS S3 storage, to get text
            ProgressText = "Analizando archivo con AWS Textract...";
            ProgressPercent = 82;
            ScannedText = await AWSTextractFunctions.ScanFileForLines(e.File.Name);

            //Classify file
            ProgressText = "Clasificando archivo...";
            ProgressPercent = 83;
            char BillOrDocument = ClassifyFile(ScannedText);

            if (BillOrDocument == 'b') //Bill
            {
                ProgressText = "El archivo es una factura...";
                ProgressPercent = 84;

                BillDTO billDTO = await AWSTextractFunctions.
                ScanFileForTables(e.File.Name);

                TablesToRender = CommonFunctions.CreateHTMLTables(billDTO);

                List<KeyValuePair<string, string>> KeyValuePairResult = 
                await AWSTextractFunctions.ScanFileForForms(e.File.Name);

                string ClientName = (from x in KeyValuePairResult
                                     where x.Key.Trim() == "Cliente:"
                                     select x.Value).FirstOrDefault();

                string ClientAddress = (from x in KeyValuePairResult
                                        where x.Key.Trim() == "Dirección del cliente:"
                                        select x.Value).FirstOrDefault();

                string ProviderName = (from x in KeyValuePairResult
                                       where x.Key.Trim() == "Proveedor:"
                                       select x.Value).FirstOrDefault();

                string ProviderAddress = (from x in KeyValuePairResult
                                          where x.Key.Trim() == "Dirección del proveedor:"
                                          select x.Value).FirstOrDefault();

                string BillingNumber = (from x in KeyValuePairResult
                                        where x.Key.Trim() == "Nro. de factura:"
                                        select x.Value).FirstOrDefault();

                string BillingDate = (from x in KeyValuePairResult
                                      where x.Key.Trim() == "Fecha:"
                                      select x.Value).FirstOrDefault();

                string BillingTotal = (from x in KeyValuePairResult
                                       where x.Key.Trim() == "Total"
                                       select x.Value).FirstOrDefault();

                ModalTitleToRender = $@"<i class=""fas fa-file""></i> 
                                        Documento: Factura";

                ModalBodyToRender = $@"
<div class=""container"">
    <ul class=""list-group mb-4"">
        <li class=""list-group-item"">
            <b>Nombre del cliente:</b> {ClientName}
        </li>
        <li class=""list-group-item"">
            <b>Dirección del cliente:</b> {ClientAddress}
        </li>
        <li class=""list-group-item"">
            <b>Nombre del proveedor:</b> {ProviderName}
        </li>
        <li class=""list-group-item"">
            <b>Dirección del proveedor:</b> {ProviderAddress}
        </li>
        <li class=""list-group-item"">
            <b>Nro. de factura:</b> {BillingNumber}
        </li>
        <li class=""list-group-item"">
            <b>Fecha de la factura:</b> {BillingDate}
        </li>
        <li class=""list-group-item"">
            <b>Total de la factura:</b> {BillingTotal}
        </li>
    </ul>
    {TablesToRender}
</div>";

                //Save data in database
                ProgressText = "Guardando datos en base de datos...";
                ProgressPercent = 85;
                Bill Bill = new()
                {
                    ClientName = ClientName ?? "",
                    ClientAddress = ClientAddress ?? "",
                    ProviderName = ProviderName ?? "",
                    ProviderAddress = ProviderAddress ?? "",
                    BillingNumber = BillingNumber ?? "",
                    BillingDate = BillingDate ?? "",
                    BillingTotal = BillingTotal ?? "",
                    FileName = e.File.Name,
                    FileURL = Path.Combine(Environment.CurrentDirectory, 
                        "Uploads", 
                        e.File.Name),
                    UserId = StateContainer.User.UserId

                };
                await billRepository.Add(Bill, CancellationToken.None);

                //Log info
                CustomLogger customLogger4 = new()
                    {
                        DateTime = DateTime.Now,
                        InteractionType = $@"IA",
                        Description = $@"AWS Textract ha detectado que 
                                        {e.File.Name} es una factura",
                        UserId = User.UserId
                    };
                await customLoggerRepository
                    .Add(customLogger4, CancellationToken.None);

                //Log info
                CustomLogger customLogger3 = new()
                    {
                        DateTime = DateTime.Now,
                        InteractionType = $@"Base de datos",
                        Description = $@"Se ha guardado un nuevo registro en
                                        la base de datos por una factura con
                                        el nombre {e.File.Name} cargada",
                        UserId = User.UserId
                    };
                await customLoggerRepository
                    .Add(customLogger3, CancellationToken.None);
            }
            else //Document
            {
                ProgressText = "El archivo es un documento...";
                ProgressPercent = 86;


                GoogleCloudNLPFunctions GoogleCloudNLPFunctions = new();
                AzureTextAnalyticsFunctions AzureTextAnalyticsFunctions = new();

                //Log info
                CustomLogger customLogger4 = new()
                    {
                        DateTime = DateTime.Now,
                        InteractionType = $@"IA",
                        Description = $@"Se hizo un análisis de sentimiento y
                                        extracción de palabras claves del archivo
                                        {e.File.Name}",
                        UserId = User.UserId
                    };
                await customLoggerRepository
                    .Add(customLogger4, CancellationToken.None);

                List<string> lstResultsOfSentiments = GoogleCloudNLPFunctions
                .ScanForSentiments(ScannedText);
                List<string> lstResultsOfKeyWords = AzureTextAnalyticsFunctions
                .ScanForKeyWords(ScannedText);

                string ListOfSentimentsHTML = "";
                foreach (string sentimentResult in lstResultsOfSentiments)
                {
                    ListOfSentimentsHTML += $@"<li class=""list-group-item"">
                                            {sentimentResult}
                                                </li>";
                }

                string ListOfKeyWordsHTML = "";
                foreach (string keyWordResult in lstResultsOfKeyWords)
                {
                    ListOfKeyWordsHTML += $@"<li class=""list-group-item"">
                                            {keyWordResult}
                                                </li>";
                }

                //Save data in database
                ProgressText = "Guardando datos en base de datos...";
                ProgressPercent = 87;

                string Sentiments = "";
                foreach (string sentiment in lstResultsOfSentiments)
                {
                    Sentiments += $@"{sentiment}{Environment.NewLine}";
                }

                string KeyWords = "";
                foreach (string keyWord in lstResultsOfKeyWords)
                {
                    KeyWords += $@"{keyWord}{Environment.NewLine}";
                }

                Document Document = new()
                    {
                        Description = KeyWords ?? "",
                        Resume = KeyWords ?? "",
                        Feeling = Sentiments ?? "",
                        FileName = e.File.Name,
                        FileURL = Path.Combine(Environment.CurrentDirectory,
                                "wwwroot",
                                "Uploads",
                                e.File.Name),
                        UserId = StateContainer.User.UserId

                    };
                await documentRepository.Add(Document, CancellationToken.None);

                //Log info
                CustomLogger customLogger3 = new()
                    {
                        DateTime = DateTime.Now,
                        InteractionType = $@"Base de datos",
                        Description = $@"Se ha guardado un nuevo registro en
                                        la base de datos por un documento con
                                        el nombre {e.File.Name} cargado",
                        UserId = User.UserId
                    };
                await customLoggerRepository
                    .Add(customLogger3, CancellationToken.None);

                ModalTitleToRender = $@"<i class=""fas fa-file""></i>
                                        Documento: Documento (no es factura)";

                ModalBodyToRender = $@"
<div class=""container"">
    <h5><b>Análisis de sentimientos</b></h5>
    <div class=""card mb-3"">
        <ul class=""list-group list-group-flush"">
            {ListOfSentimentsHTML}
        </ul>
    </div>
    <h5><b>Análisis de palabras claves</b></h5>
    <div class=""card mb-3"">
        <ul class=""list-group list-group-flush"">
            {ListOfKeyWordsHTML}
        </ul>
    </div>
</div>";
                //Log info
                CustomLogger customLogger5 = new()
                    {
                        DateTime = DateTime.Now,
                        InteractionType = $@"IA",
                        Description = $@"AWS Textract ha detectado que 
                                        {e.File.Name} es un documento 
                                        (no es factura)",
                        UserId = User.UserId
                    };
                await customLoggerRepository
                    .Add(customLogger5, CancellationToken.None);
            }

            ButtonText = "Ver análisis";
            ProgressText = "Análisis finalizado";
            ProgressPercent = 100;
            ProgressBarColour = "bg-success";
        }
        catch (Exception ex)
        {
            ProgressText = "Error...";
            ProgressPercent = 0;
            ProgressBarColour = "bg-danger";
            ErrorMessage = $@"<i class=""fas fa-exclamation""></i> {ex.Message}";
        }
        finally
        {
            //Re-render the page to show ScannedText
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
    }

    public char ClassifyFile(string text)
    {
        string TextToLower = text.ToLower();
        if (TextToLower.Contains("i.v.a") || TextToLower.Contains("iva"))
        {
            //Bill
            return 'b';
        }
        else
        {
            //Document
            return 'd';
        }

    }
}
